<div class="container">
  <%#= render "institutions/index", institutions: @institutions %>
  <%= params.inspect %>
  <%= @search_inputs.inspect %>
  <%= render "basic/index", records: @records %>
</div>
