<div class="container-fluid">

  <div class="row">

    <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block">
      <div id="sideoverview">
        <%= render "static_pages/sideoverview" %>
      </div>
    </div>

    <div class="col-sm-12 d-md-none">
      <div id="sideoverview">
        <%= render "static_pages/minisideoverview" %>
      </div>
    </div>


      <div class="col-12 col-md-8 col-lg-9 col-xl-10">
        <div class="card mb-3">
          <div class="card-body">
            <div id="index">
              <%= render "basic/index", records: @people %>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

<script>
  $( document ).ready(function() {
    var models = ["Person", "Institution", "Note", "Task"];

      $( ".index-load" ).click(function() {
        target = $(this).attr("target");
        if(jQuery.inArray("Person", models) !== -1){
          $.ajax({
            url: "/render_index",
            method: 'GET',
            data: { model: target}
          }).done(function(response) {
          $("#index").fadeOut("fast", function(){
            $("#index").empty().append(response).fadeIn("fast");
          });
        })
      };
    });
  });
</script>
