<a name="top"/>

<div class="list-group" id="list-tab" role="tablist">
  <a class="list-group-item text-center">
    <h3>Übersicht</h3>
  </a>


  <a class="list-group-item list-group-item-action flex-column align-items-start index-load <%= "active" if records.klass.to_s == "Person" %>" data-toggle="list" href="#list-people" target="Person" role="tab">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= fa_icon "user" %> Personen</h5>
      <hr>
    </div>
    <p>
      Zum Beispiel:
      <ul>
        <li>
          Anna Goppel
        </li>
        <li>
          Michael Schibler
        </li>
        <li>
          Stefan Müller
        </li>
      </ul>
    </p>
  </a>


  <a class="list-group-item list-group-item-action flex-column align-items-start index-load" data-toggle="list" target="Tags" href="#list-tags" role="tab">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= fa_icon "tags" %> Tags</h5>
      <hr>
    </div>
    <p>
      Zum Beispiel:
      <ul>
        <li>
          Sponsor
        </li>
        <li>
          Medienkontakt
        </li>
        <li>
          Kooperationspartner
        </li>
      </ul>
    </p>
  </a>

</div>

<script>
$( document ).ready(function() {
  function scrollToAnchor(aid){
    var aTag = $("a[name='"+ aid +"']");
    $('html,body').animate({scrollTop: aTag.offset().top},'slow');
  }

  $(".list-group-item").click(function() {
   scrollToAnchor('top');
  });
});
</script>
