<div class="card my-3">
  <div class="card-body">

    <h3 class="card-title">Neuigkeiten</h3>
    <hr />
    <p class="card-text">
      <b>Nächste Vorstandssitzung:</b> 25. Januar 2019
    </p>
    <p class="card-text">
      <b>Nächste GV:</b> April 2019
    </p>
    <p class="card-text">
      <small class="text-muted">
      Verbesserungs- und Änderungsvorschläge an <%= mail_to "sandro.raess@philosophie.ch", "sandro.raess@philosophie.ch", subject: "Memento" %>
    </small>
    </p>
  </div>
</div>
