<div class="container">
  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Gebrauchsanweisung</h3>
      <hr />
      <p class="card-text">
        Personen und Institutionen suchen:
        <b>Zur Übersicht:</b> <%= link_to "Übersicht", overview_path %>
      </p>
    </div>
  </div>
</div>
