<div class="container-fluid">

  <div class="row">

    <div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block">
      <div id="sideoverview">
        <%= render "static_pages/sideoverview" %>
      </div>
    </div>

    <div class="col-sm-12 d-md-none">
      <div id="sideoverview">
        <%= render "static_pages/minisideoverview" %>
      </div>
    </div>


      <div class="col-12 col-md-8 col-lg-9 col-xl-10">
        <div id="content">
          <%= render "static_pages/content", people: @people, notes: @notes, tag_lists: @tag_lists, tasks: @tasks, institutions: @institutions %>
        </div>
    </div>
  </div>
</div>
