<div class="container">
  <% tag_list = TagList.where(category: "functionality").first %>
  <%= link_to tag_list.name, overview_path(params: {search_inputs: {model: tag_list.model, "#{tag_list.category}_list" => [tag_list.name] }}), class: "btn btn-outline-dark" %>
  <br />
  <%= link_to Institution.last.name, overview_path(params: {search_inputs: {model: "Person", institutions: [Institution.last.id] }}), class: "btn btn-outline-dark" %>

</div>
