<div class="container">
  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Neuigkeiten</h3>
      <hr />
      <p class="card-text">
        <b>Nächste Vorstandssitzung:</b> 2. November 2018
      </p>
      <p class="card-text">
        <b>Nächste GV:</b> April
      </p>
      <p class="card-text">
        <small class="text-muted">
        Verbesserungs- und Änderungsvorschläge an <%= mail_to "sandro.raess@philosophie.ch" %>
      </small>
      </p>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Anleitung</h3>
      <hr />
      <p class="card-text">
        <b>Zur Übersicht:</b> Link
      </p>
      <p class="card-text">
        <b>Daten importieren:</b> Link
      </p>
    </div>
  </div>
</div>
