<div class="container">
  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Memento</h3>
      <hr />
      <p class="card-text">
        <b>Zur Übersicht:</b> <%= link_to "Übersicht", overview_path %>
      </p>
      <p class="card-text">
        <b>Zur Gebrauchsanweisung:</b> <%= link_to "Gebrauchsanweisung", manual_path %>
      </p>
    </div>
  </div>


  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Arbeitsstunden eintragen</h3>
      <hr />
      <p class="card-text">
        <%= render 'work_times/form', work_time: WorkTime.new %>
      </p>
    </div>
  </div>

</div>
