<div class="container">
  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Memento</h3>
      <hr />
      <p class="card-text">
        <b>Zur Übersicht:</b> <%= link_to "Übersicht", overview_path %>
      </p>
      <p class="card-text">
        <b>Zu meinen Aufgaben:</b> <%= link_to "Meine Aufgaben", my_tasks_path %>
      </p>
      <p class="card-text">
        <b>Gebrauchsanweisung:</b> Link
      </p>
      <p class="card-text">
        <b>Zum Team:</b> <%= link_to "Team", team_path %>
      </p>
    </div>
  </div>


  <div class="card my-3">
    <div class="card-body">

      <h3 class="card-title">Arbeitsstunden eintragen</h3>
      <hr />
      <p class="card-text">
        Hier Eintragefeld
      </p>
      <p class="card-text">
        Monatsübersicht:
      </p>
      <p class="card-text">
        Jahresübersicht
      </p>
    </div>
  </div>

</div>
