<% parent = parent || @record.noteable %>
<div class="card my-3">
  <div class="card-body">
    <% if parent.notes.empty? %>
      Keine Notizen vorhanden.
      <hr />
    <% end %>

    <div class="<%= parent.class.to_s.downcase%>-<%= parent.id%>-notes-new">
      <%= render "notes/form", note: Note.new, parent: parent  %>
    </div>
    <%= render 'basic/records_as_children', records: parent.notes.order(:created_at).reverse_order unless parent.notes.empty? %>


  </div>
</div>
