<div class="float-right small-text"><small><%= day.strftime("%d") %></small></div>
<br />
<% blogs = blogs.where(planned_date: day)%>

<% blogs.each do |blog| %>
  <%= link_to blog_path(blog) do %>
    <div class="m-2">
      <div class="border border-primary rounded p-1">
        <%= blog.working_title %>
      </div>
    </div>
  <% end %>
<% end %>

<% unless day.past? %>
<div class="enter-blog hidden">
  <hr />
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary btn-sm enter-blog-button m-2" value=" <%= day.to_s %>" data-toggle="modal" data-target="#enter-blog-modal">
    Blog eintragen
  </button>
</div>
<% end %>
