<div class="<%=records.klass.to_s.pluralize.downcase%>">
  <%= render "basic/pagination", records: records %>
  <%= render partial: "#{records.klass.to_s.pluralize.downcase}/show", collection: records, as: :record %>
  <%= render "basic/pagination", records: records %>
</div>
