<div class="people">
  <nav>
  <div class="nav nav-tabs justify-content-end" id="nav-tab" role="tablist">
    <a class="nav-item nav-link list-view active" id="nav-list-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="true">
      <%= fa_icon "id-card" %>
    </a>
    <a class="nav-item nav-link profiles-view" id="nav-profiles-tab" data-toggle="tab" href="#nav-profiles" role="tab" aria-controls="nav-profiles" aria-selected="false">
      <%= fa_icon "th-list" %>
    </a>
  </div>
</nav>

    <%= render partial: "people/show", collection: @people, as: :person %>

    <%= render 'people/new', person: Person.new %>

</div>

<script>
  $( document ).ready(function() {
    $( ".list-view, .profiles-view" ).click(function() {
      $(".multi-collapse").collapse('toggle');
    });
  });
</script>
