<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">e-Mail</th>
      <th scope="col">Telefon</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
