<div class="person-<%= person.id %>">
  <div class="row mt-3">
    <div class="col-4">
      <%= person.name %>
    </div>
    <div class="col-4">
      <%= mail_to person.email %>
    </div>
    <div class="col-4">
      <%= person.phone %>
    </div>
  </div>

<hr />
</div>
