<div class="card mb-3">
  <div class="card-body">
    <h3 class="text-center"><%= user.username %></h3>
    </p>
    <%= render "basic/records", records: Task.order(:deadline).where(assigned_to_user_id: user.id).page(params[:page]).per(20) %>

  </div>
</div>
