<p class="card-text"><small class="text-muted">
  Erstellt: <%= parent.created_at.strftime("%d.%m.%Y %H:%M") %>
  <% if parent.audits.where(action: "create").last.user.nil? %>
      - von Sandros Skript
  <% else %>
      - von <%= parent.audits.where(action: "create").last.user.username %>
  <% end %>

  <% unless parent.audits.where(action: "update").empty? %>
    | Zuletzt bearbeitet: <%= parent.audits.where(action: "update").order(:created_at).last.created_at.strftime("%d.%m.%Y %H:%M") %>
    <% if parent.audits.where(action: "update").order(:created_at).last.user.nil? %>
        - von Sandros Skript
    <% else %>
      - von <%= parent.audits.where(action: "update").order(:created_at).last.user.username %>
    <% end %>
  <% end %>
</small></p>
