<% project = project || @project %>

<div class="project-people-<%=project.id%> table-wrapper-scroll-y border rounded">
  <% project.people.order(:name).each do |person| %>
    <%= person.name %>
    <hr />
  <% end %>
</div>
