<% tag_lists = tag_lists || @tag_lists %>
  <h1>Tags</h1>
  <hr />

  <% tag_lists.each do |tag_list| %>
    <p>
      <div class="row">
        <div class="col-4">
          <%= link_to tag_list.name, overview_path(params: {search_inputs: {model: Person, tag_list: [tag_list.name]}}), class: "btn btn-outline-dark" %>
        </div>
        <div class="col-4">
          Personen mit diesem Tag: <%= Person.tagged_with(tag_list.name).count %>
        </div>
        <div class="col-4">
          Institutionen mit diesem Tag: <%= Institution.tagged_with(tag_list.name).count %>
        </div>
      </div>
    </p>
    <hr>
  <% end %>

  <br>

    <%= render 'tag_lists/new', tag_list: TagList.new %>
