<% tag_lists = tag_lists || @tag_lists %>
  <h1>Tags - Übersicht</h1>
  <hr />

  <h3>Personen - Tags</h3>
  <% tag_lists.order(:model, :category).each do |tag_list| %>
    <p>
      <div class="row">
        <div class="col-4">
          <%= link_to tag_list.name, overview_path(params: {search_inputs: {model: tag_list.model, "#{tag_list.category}_list" => [tag_list.name] }}), class: "btn btn-outline-dark" %>
        </div>
      </div>
    </p>
    <hr>
  <% end %>

  <br>

    <%= render 'tag_lists/new', tag_list: TagList.new %>
