<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PDF</title>
  <%#= wicked_pdf_stylesheet_link_tag "application" -%>
  <%#= wicked_pdf_stylesheet_link_tag('application.scss') %>
  <%#= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= wicked_pdf_stylesheet_link_tag "pdf.css" %>
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
